.page {
  display: none;
}

.page.active {
  display: block
}

.page-btn {
  display: none;
  width: 100px;
}

.main-menu:hover .page-btn {
  display: flex;
  flex-direction: column;
}

.main-menu {
  position: fixed;
  bottom: 20%;
  right: 20%;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.tachyon {
  width: 100px;
  text-align: center;
}

body {
  background-color: pink;
}



